<p>Check for common english strings!</p>
<form method="post" action="/submit">
  Site:<input type="input" name ="site" value="http://fr.simplyaccounting.com/" size="40"><BR/>
  Start:<input type="text" name ="start" value="1" size="10"><BR/>
  End:<input type="text" name ="end" value="10" size="10"><BR/>
  <input type="submit"/>
</form>