<p>Check for common english strings</p>
<form method="post" action="/submit">
  Site:<input type="input" name ="site" value="http://fr.simplyaccounting.com/" size="40">
  <input type="submit"/>
</form>